<!DOCTYPE html>
<html>
<head>
  <title>Carrito de compras</title>
</head>
<body>
  <h1>Carrito de compras</h1>
  {{#each carts}}
  <h2>Carrito {{_id}}</h2>
  <ul>
    {{#each products}}
    <div>
      Producto ID: {{this.productId._id}} <br>
      Título: {{this.productId.title}} <br>
      Cantidad: {{this.quantity}} <br>
    </div>
    <hr>
    
    {{/each}}
  </ul>
  {{/each}}
</body>
</html>
