<!DOCTYPE html>
<html>
<head>
  <title>Carrito de compras</title>
</head>
<body>
  <h1>Carrito de compras</h1>
  {{#each carts}}
  <h2>Carrito {{_id}}</h2>
  <ul>
    {{#each products}}
    <li>
      Producto ID: {{this.productId}}
      Cantidad: {{this.quantity}}
    </li>
    {{/each}}
  </ul>
  {{/each}}
</body>
</html>
